<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col one-half">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <p>{{- site.description | escape -}}</p>
          <!-- <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%} -->
        </ul>
      </div>

      <div class="footer-col one-half">
        <h2 class="footer-heading"></h2>
        <a href="archive">Notes Archive</a> | <a href="now">Now Page</a>
        <div class="social-links">
          {%- include social.html -%}
        </div>

        <!-- <p>{{- site.description | escape -}}</p> -->
      </div>

    </div>

  </div>
  <script>
      // get all <p> tags with class="slideshow"
      var slideshow = document.getElementsByClassName("slideshow");
      var numslideshows = slideshow.length;
      console.log(numslideshows + " slideshows found");

      var indexPrev = 0;
      var indexCurrent = 1;
      var indexNext = 2%numslideshows;

      function setslides() {
        prev.src = imgname + indexPrev + ext;
        current.src = imgname + indexCurrent + ext;
        next.src = imgname + indexNext + ext;
      } 

      function slidePrev() {
        if (indexPrev == 0) {
          indexPrev = numslides - 1;
        } else {
          indexPrev = indexPrev - 1;
        }

        if (indexCurrent == 0) {
          indexCurrent = numslides - 1;
        } else {
          indexCurrent = indexCurrent - 1;
        }

        if (indexNext == 0) {
          indexNext = numslides - 1;
        } else {
          indexNext = indexNext - 1;
        }
        setslides();
      }


      function slideNext() {
        indexPrev = (indexPrev + 1)%numslides;
        indexCurrent = (indexCurrent + 1)%numslides;
        indexNext = (indexNext + 1)%numslides;
        setslides();
      }

      // console.log every slideshow
      for (var i = 0; i < numslideshows; i++) {
        // get every img tag in slideshow
        var slides = slideshow[i].getElementsByTagName("img");
        var numslides = slides.length;
        console.log("slideshow " + i + " has " + numslides + " slides");

        // get img src of slides[0]
        var src = slides[0].src;

        // get imgname and extension

        var imgname = src.substring(0, src.length-5);
        console.log("Name of image: " + imgname); 

        var ext = src.substring(src.length-4, src.length);
        console.log("File ext: " + ext); 

        // set innerHTML of slideshow[i]
        slideshow[i].innerHTML = "<img onclick='slidePrev()' id='slideshow-previous'><img id='slideshow-current'><img onclick='slideNext()' id='slideshow-next'></div>";

        var prev = document.getElementById("slideshow-previous");
        var current = document.getElementById("slideshow-current");
        var next = document.getElementById("slideshow-next");

        setslides();
      }





      // hide all images inside slideshows

      // for (var i = 0; i < numslides; i++) {
      //   var slides = slideshows[i].getElementsByTagName("img");
      //   var numslides = slides.length;
      //   for (var j = 1; j < numslides; j++) {
      //     slides[j].style.display = "none";
      //   }
      // }
  </script>
</footer>
