// Set up delays in multiples of $anim-delay

$anim-delay: 200ms;

.delay-1{
    animation-delay: $anim-delay;
}

.delay-2{
    animation-delay: calc(var(--$anim-delay) * 2);
}

.delay-3{
    animation-delay: calc(var(--$anim-delay) * 3);
}

.delay-4{
    animation-delay: calc(var(--$anim-delay) * 4);
}

.delay-5{
    animation-delay: calc(var(--$anim-delay) * 5);
}

.delay-6{
    animation-delay: calc(var(--$anim-delay) * 6);
}


// Stretch-in animation

.anim-stretch-in {
    animation: stretch-in 1s both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

@keyframes stretch-in {
    0% {
        transform: scaleY(0);
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
        opacity: 1;
    }
}


// Common css for all boxes

.entry-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}


// 4 background stripes

.bg-top {
    background-color: var(--accent-color-dark);
    margin-top: 0px;
}

.bg-mid {
    background-color: var(--accent-color);
    margin-top: 10px;
}

.bg-bottom {
    background-color: var(--accent-color-light);
    margin-top: 20px;
}

.bg-background {
    background-color: var(--background-color);
    margin-top: 30px;
}